
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="u-clearfix u-expand-resize u-white u-section-1" id="carousel_1565">
    <div class="u-black u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-1" src="~/Assets/images/12bc5c5c95ee9a9e57e165f3c5ba1615.png">
        <div class="u-container-style u-expanded-width-xs u-group u-palette-1-base u-group-1">
            <div class="u-container-layout u-valign-top">
                <h1 class="u-custom-font u-font-patua-one u-text u-title u-text-1">Your complete guide to all 736 players at the 2018 World Cup</h1>
                <img src="~/Assets/images/f23eb88f0d5b61b100b3a826cf1b2b1b.png" alt="" class="u-image u-image-default u-image-2" data-image-width="57" data-image-height="57">
                <p class="u-text u-text-2">Via The Guardian</p>
                
            </div>
        </div>
        <img src="~/Assets/images/833627309a21e4d5ddd4c86f220db9bf.png" alt="" class="u-image u-image-contain u-image-default u-image-3" data-image-width="259" data-image-height="128">
    </div>
</section>
<section class="u-clearfix u-white u-section-2" id="carousel_9900">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-similar-fill u-size-33 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-custom-font u-font-patua-one u-text u-text-1">All you need to know about the players</h2>
                            <p class="u-text u-text-2">
                                Biographies of every player in all 32 squads in Russia, including caps, goals, nicknames and hobbies, plus ratings for every single performance at the World Cup finals.<br>
                                <br>We strive to give you an unbiased, trustworthy
                                and in-depth view of the world's most prestigious football tournament. If you think that’s worth something, then you can support The Guardian from as little as £1 – and it only takes a minute. Support The Guardian’s
                                World Cup coverage<br>
                            </p>
                            <p></p>
                            <a href="https://nicepage.com/c/text-website-templates" class="u-link u-text-body-color u-link-1">View More</a>
                        </div>
                    </div>
                    <div class="u-container-style u-expand-resize u-layout-cell u-right-cell u-similar-fill u-size-27 u-layout-cell-2">
                        <div class="u-container-layout">
                            <img class="u-image u-image-contain u-image-1" src="~/Assets/images/96366616d6c3199359b5fdda1ac4d713.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-white u-section-3" id="carousel_2cf9">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-expand-resize u-layout-cell u-right-cell u-similar-fill u-size-27 u-layout-cell-1">
                        <div class="u-container-layout">
                            <img class="u-expanded-height-lg u-image u-image-contain u-image-1" src="~/Assets/images/205dd2d15dcc44403c20c3ae476b6956.png">
                        </div>
                    </div>
                    <div class="u-align-right u-container-style u-layout-cell u-left-cell u-similar-fill u-size-33 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <h2 class="u-custom-font u-font-patua-one u-text u-text-1">Russia 2018 World Cup: the complete guide to all the stadiums</h2>
                            <p class="u-text u-text-2">All you need to know about the 12 venues for World Cup 2018, including history lessons and the hitches along the way</p>
                            <a href="https://nicepage.com/" class="u-link u-text-body-color u-link-1">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-4" id="carousel_b5a0">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-row">
                            <div class="u-container-style u-expand-resize u-layout-cell u-left-cell u-similar-fill u-size-60 u-layout-cell-1">
                                <div class="u-container-layout">
                                    <h2 class="u-custom-font u-font-patua-one u-text u-text-1">Denis Cheryshev came off the bench to score twice as hosts Russia swatted Saudi Arabia aside in the opening match of World Cup 2018</h2>
                                    <img class="u-expanded-width u-image u-image-1" src="~/Assets/images/5dc99a31616f7e606e9a9f7400025a9f.jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-40">
                                <div class="u-layout-row">
                                    <div class="u-align-right u-container-style u-layout-cell u-right-cell u-similar-fill u-size-60 u-layout-cell-2">
                                        <div class="u-container-layout u-container-layout-2">
                                            <p class="u-text u-text-2"> Russia’s players celebrate after beating Saudi Arabia 5-0 in the opening match at the Luzhniki Stadium in Moscow. Photograph: Alexander Nemenov/AFP/Getty Images</p>
                                            <h1 class="u-heading-font u-text u-title u-text-3">5:0</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                                        <div class="u-container-layout u-valign-top">
                                            <h2 class="u-custom-font u-font-patua-one u-text u-text-4">Russia</h2>
                                            <p class="u-text u-text-5">
                                                Yuriy Gazinsky 12 <br>Denis Cheryshev 43 <br>Artem Dzyuba 71 <br>Denis Cheryshev 90 +0:48 <br>Alexandr Golovin 90 +4:01
                                            </p>
                                        </div>
                                    </div>
                                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-4">
                                        <div class="u-container-layout">
                                            <h2 class="u-custom-font u-font-patua-one u-text u-text-6">Saudi Arabia</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-black u-clearfix u-section-5" id="carousel_9fb7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-container-style u-group u-similar-fill u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-custom-font u-font-patua-one u-text u-text-1">Ready to subscribe?</h2>
                <a href="https://nicepage.com/web-design" class="u-link u-text-body-alt-color u-link-1">Subscribe</a>
            </div>
        </div>
        <img src="~/Assets/images/c6d57b19d9f3d2e4001490bae2b64148.png" alt="" class="u-image u-image-contain u-image-default u-image-1" data-image-width="718" data-image-height="740">
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-6" id="carousel_8c71">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-20 u-size-60-md">
                        <div class="u-layout-row">
                            <div class="u-container-style u-image u-layout-cell u-left-cell u-similar-fill u-size-60 u-image-1">
                                <div class="u-container-layout"></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-40 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-40">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-60 u-layout-cell-2">
                                        <div class="u-container-layout u-container-layout-2">
                                            <h2 class="u-custom-font u-font-patua-one u-text u-text-1">Sergio Ramos urges Spain to ignore the upheaval before Portugal clash</h2>
                                            <p class="u-text u-text-2">Captain says sacking of Julen Lopetegui will not affect Spain’s World Cup chances and there is no split in the squad</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-similar-fill u-size-30 u-layout-cell-3">
                                        <div class="u-container-layout">
                                            <p class="u-text u-text-3">
                                                Sergio Ramos took one last look around the room and smiled, an invitation for others to join him. “This looks like a funeral parlour, and tomorrow the World Cup begins,” he said, grinning. Alongside him
                                                Fernando Hierro, Spain’s new manager, grinned too.<br>Together they got up and walked through the door, down the tunnel and out on to the pitch at the Fisht Stadium. Behind the stand, the sun set on
                                                the Black Sea; before it, Spain prepared for their opening night.<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30 u-layout-cell-4">
                                        <div class="u-container-layout">
                                            <p class="u-text u-text-4">
                                                Hierro stood watching as the ball flew around the rondo. Two and a half days before, still Spain’s sporting director, he had said he had no intention of coaching his country one day; the day after, his third
                                                in the job, he would lead them into the biggest tournament on earth.
                                            </p>
                                            <a href="https://nicepage.com/c/contacts-website-templates" class="u-link u-text-body-color u-link-1">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-black u-clearfix u-section-7" id="carousel_2edb">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout">
                            <h5 class="u-text u-text-1">Interview</h5>
                            <h2 class="u-custom-font u-font-patua-one u-text u-text-2">Uruguay’s Diego Godín: ‘They kicked Luis Suárez out like a dog. It was unjust, disproportionate’</h2>
                            <p class="u-text u-text-3">
                                By <a href="https://www.theguardian.com/profile/sidlowe">Sid Lowe</a>
                            </p>
                            <p class="u-text u-text-4">
                                As the Uruguay team boarded their plane bound for the World Cup, elaborate thermos flasks under their arms, the cargo was loaded in the hold: boots, shirts and shorts, plus 180kg of yerba mate and 30kg of dulce de leche.
                                They needed a special permit to take them into Russia, but they were not going to go without their impossibly bitter “tea” or their impossibly sweet caramel. Anyway, why change?<br>There is something about Uruguay,
                                something different, which has served them well. Something in the way they live, the way they play – and, says the captain, Diego Godín, in Uruguay living and playing are the same thing. That’s part of the secret.<br>
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-expand-resize u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout">
                            <img class="u-image u-image-1" src="~/Assets/images/59504fa3d81c1889e44be4a8456ae05a.jpeg">
                            <p class="u-text u-text-5">
                                Uruguay, who kick off their Group A campaign against Egypt on Friday, are football’s great overachievers: they have won two World Cups and 15 Copa Américas, were World Cup semi-finalists in 1970 and 2010, and four years
                                ago knocked out Italy and England.&nbsp;
                            </p>
                            <blockquote class="u-custom-font u-text u-text-font u-text-6">They arrive in Russia with Godín insisting expectations are high: “We’re going there to win, to compete,” he says.</blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-white u-section-8" id="carousel_7526">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-expand-resize u-layout-cell u-left-cell u-similar-fill u-size-30 u-layout-cell-1">
                        <div class="u-container-layout">
                            <img class="u-image u-image-contain u-image-1" src="~/Assets/images/e3a1720428e292a1e3b9e70933133bf5.png">
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30 u-layout-cell-2">
                        <div class="u-container-layout">
                            <h2 class="u-custom-font u-font-patua-one u-text u-text-1">Russia's five-star showing, Robbie Williams and Stalin's 'tache – World Cup Football Daily</h2>
                            <blockquote class="u-custom-font u-text u-text-font u-text-2">Max Rushden is joined by guests in the studio and in Russia to discuss the 2018 World Cup opener, Robbie Williams, the facial hair of Stalin, Spain’s self-implosion and Friday’s games</blockquote>
                            <ul class="u-custom-font u-text u-text-font u-text-3">
                                <li>The World Cup is finally under way! </li>
                                <li>Max Rushden is joined by Barry Glendenning and John Brewin in the studio to dissect the first day’s play, starting with the tournament opener, Russia 5-0 Saudi Arabia.</li>
                            </ul>
                            <a href="https://nicepage.com/k/infographic-html-templates" class="u-link u-text-body-color u-link-1">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

